*{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
.Preptime{
    display: block;
    
}
.title {
    color: black;
}
.pic   {
background-image: -moz-linear-gradient();
}

.recipe.blueberry{
    color: blueviolet;
}
.recipe.meat{
    color: brown;
}
.recipe.smoothie{
    color:yellow;
}
.recipe.lasagna{
    color: red;
}